{% extends "layout.njk" %}
{% import "parts/products/section-products.njk" as section %}

{% block content %}
  <section class="search-products container">
    <aside>
      <div class="header">
        <h2>Computador</h2>
        <p>12</p>
      </div>

      <nav class="categories">
        <h4>Categorias</h4>
        <ul>
          <li>
            <a href="#">Eletrônicos</a>
            <a href="#">Comida</a>
          </li>
        </ul>
      </nav>
    </aside>

    {{section.products('','searched', products)}}
  </section>
{% endblock %}