{% extends "layout.njk" %}
{% import "parts/products/section-products.njk" as section %}

{% block content %}
  <section class="search-products container">
    <aside>
      <div class="header">
        <h2>{{search.term}}</h2>
        <p>{{search.total}}
          encontrados</p>
      </div>

      <nav class="categories">
        <h4>Categorias</h4>
        <ul>
          <li>
            {% for item in categories %}
              <a href="/products/search?filter={{search.term}}&category={{item.id}}">{{item.name}}</a>
            {% endfor %}
          </li>
        </ul>
      </nav>
    </aside>

    {{section.products('','searched', products)}}
  </section>
{% endblock %}