{% extends "layout.njk" %}

{% block content %}
  <section class="product-single container">

    <div class="gallery">
      <div class="highlight">
        {% if not product.files[0] %}
          <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
        {% else %}
          <img onclick="LightBox.open()" src="{{product.files[0].src}}" alt="{{product.files[0].name}}">
        {% endif %}
        <div class="lightbox-target">
          <img src="{{product.files[0].src}}" alt="{{product.files[0].name}}">
          <a href="#" class="lightbox-close" onclick="LightBox.close()">
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>
      <div class="gallery-preview">
        {% for image in product.files %}
          <img onclick="ImageGallery.setImage(event)" src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} class="active" {% endif %}>
        {% endfor %}
      </div>
    </div>

    <div class="info">
      <h1>
        {{product.name}}</h1>
      <div class="published">
        Publicado em
        {{product.updated_at}}
      </div>
      <div class="description">
        {{product.description}}
      </div>

      <div class="price-buy">
        <div class="price">
          {{product.formattedPrice}}
          {% if product.formattedPrice != product.formattedOldPrice %}
            <span class="old">
              {{product.formattedOldPrice}}</span>
          {% endif %}
        </div>

        <div class="buy">
          {% if product.status == 0 %}
            <p class="unavailable">Indisponivel</p>
          {% elseif product.quantity == 0 %}
            <p class="unavailable">Sem Estoque</p>
          {% else  %}
            <button class="button">Comprar</button>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}